@import url('reset.css');

body {
  font-family: "kulturista-web",serif;
  font-style: normal;
  font-weight: 400;
  background: #F1F1F1;
}

.container {
  position: relative;
  width: 100%;
  max-width: 940px;
  height: 100%;
  margin: 0 auto;
  /*background-color: black;*/
}

nav {
  background: url(../_img/nav-bg.png) no-repeat center center;
  height: 200px;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 100;
}

nav h1 > a {
  position: relative;
  display: block;
  background: url(../_img/logo2.png) no-repeat;
  width: 211px;
  height: 97px;
  overflow: hidden;
  margin: 15px 0 0 20px;
  color: transparent;
  -webkit-transition: all 0.1s ease-out;
  -moz-transition: all 0.1s ease-out;
  -o-transition: all 0.1s ease-out;
  -ms-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;

}

nav h1{
  font-family: "kulturista-web",serif;
  font-style: italic;
  font-weight: 600;
  font-size: 50px;

  margin: 15px 0 0 20px;
  padding: 5px;
  color: transparent;

  background-color: #fff;
  background-repeat: no-repeat;
  background-image: url(../_img/photo.jpeg);
  background-position: 50% 50%;
  background-size: 100%;

  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;

}

nav h1 > a:hover {
  margin: 13px 0 0 20px
}

nav ul{
  list-style: none;
  position: absolute;
  padding: 0;
  margin: 0;
  top: 20px;
  right: 30px;
}

nav ul li{
  display: inline-block;

}

nav ul li a{
  text-decoration:none;
  border: 0;
  font-family: "kulturista-web",serif;
  font-style: normal;
  color: rgb(63,98,48);
  border-bottom: 1px solid rgb(153,199,69);
  font-weight: 500;
  font-size: 1.2em;
  margin-left: 15px;
  line-height: 15px;
}

.main {
  width: 100%;
  top: 200px;
  position: absolute;
  z-index: 100;
  background: transparent;
}

/*.message{
  width: 100%;
}*/

.message h1{
  font-family: "kulturista-web", serif;
  text-transform: uppercase;
  font-weight: 600;
  color:white;
  font-size: 53px;
  background-color: rgba(0,0,0,0.5);
  display: inline-block;
  padding: 0px 10px;
  line-height: 76px;
  margin-bottom: 10px;
}

.message h2{
  font-family: "kulturista-web", serif;
  font-weight: 300;
  font-style: italic;
  font-size: 1.3em;
  color:white;

  background-color: rgba(0,0,0,0.5);
  display: inline-block;
  padding: 0px 10px;
  line-height: 40px;
  margin-top: 3px;
}


.interface{
  width: 100%;
  top: 300px;
  position: relative;
  z-index: 100;
  background: transparent;
}

a#next{
  position: absolute;
  height: 100%;
  display: inline-block;
  top:470px;
  right:90px;
}

a#previous{
  position: absolute;
  height: 100%;
  display: inline-block;
  top:470px;
  right:170px;
}



#video.image1{
  /*background: url(../_img/photo.jpeg) no-repeat center center;*/
}


#video {
  margin-top: 0px;
  min-height: 600px;
  height: 100%;
  background-size: cover;
}

