/*
    Document   : header
    Created on : Apr 9, 2012, 1:41:24 PM
    Author     : RicardoVazquez
    Description: Header of website along with tagline on the left, basic H1,H4,H5 styling
        Purpose of the stylesheet follows.
*/

root {
    display: block;
}

body {
    background: url("../_img/blur.png");
    background-attachment: fixed;
    color: white;
}

h1 {
    font-size: 3.5em;
    font-family: "ff-meta-serif-web-pro",serif;
    font-style: normal;
    font-weight: 500;
    line-height: 1.25em;

}

h2 {
    font-size: 2.5em;
    font-family: "ff-meta-serif-web-pro",serif;
    font-style: normal;
    font-weight: 500;
    line-height: 1.25em;

}

h3 {
    font-size: 2.0em;
    font-family: "ff-meta-serif-web-pro",serif;
    font-style: normal;
    font-weight: 500;
    line-height: 1.25em;

}

h4 {
    font-size: 1.25em;
    font-family: "ff-meta-serif-web-pro";
/*    font-family: "atrament-web";*/
    font-style: normal;
    font-weight: 500;
    line-height: 1.6em;

}

h5{
    font-size: 1em;
    font-family: "ff-meta-serif-web-pro",serif;
    font-style: italic;
    font-weight: 500;
    line-height: 1.6em;
    text-align: center;
    color:rgba(255,255,255,0.7);
}

h6{
    font-size: 1em;
    font-family: "ff-meta-serif-web-pro",serif;
    font-style: normal;
    font-weight: 500;
    line-height: 1.6em;

}

#welcome h1{
   position: absolute;
   top: 13em;
   left: 0;
   width: 100%;
   font: 1.325em Cambria;
   font-style: italic;
   line-height: 2.5em;

}

#welcome h1 span {
   color: white;
   letter-spacing: -1px;
   background: rgb(0, 0, 0); /* fallback color */
   background: rgba(0, 0, 0, 0.5);
   padding: 0.625em;
}

header {
    position: fixed;
    width: 100%; /*Roughly 960px*/
    height: auto;
    background-color: rgba(0,0,0,0.9);
    padding:0;
    margin: 0 auto;
    z-index: 1;


}

nav{
    text-align: left;
    margin: 0 auto;
    padding: 0em;
    overflow:hidden;
    width: 90%;

}

nav ul {
	list-style: none;
	overflow: hidden;
}

nav ul li {
    margin-top: 2px;
}

#dynamic {
    color: #AAA;
    display: block;
    font: 400 11px/1 "raleway", Helvetica, Verdana, Arial, sans-serif;
    padding-top: 10px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    width: 10%;
    float: right;

    -moz-transition: color 0.3s ease;
    -webkit-transition:  color 0.3s ease;
    -o-transition:  color 0.3s ease;
    transition:  color 0.3s ease;

}

#mobileDynamic {
    display: none;
    color: #AAA;
    float:left;
    font: 400 11px/1 "raleway", Helvetica, Verdana, Arial, sans-serif;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    width: 60%;
    padding-bottom: 10px;
    /*padding-top: 0px;
    margin-bottom: 0px;*/


    -moz-transition: color 0.3s ease;
    -webkit-transition:  color 0.3s ease;
    -o-transition:  color 0.3s ease;
    transition:  color 0.3s ease;
}
nav li a:link, a:visited {

	color: #fff;
	display: block;
	float: left;
	font: 400 13px/1.4 "raleway", Helvetica, Verdana, Arial, sans-serif;
	padding: 14px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	width: 10%;

    -moz-transition: color 0.3s ease;
    -webkit-transition:  color 0.3s ease;
    -o-transition:  color 0.3s ease;
    transition:  color 0.3s ease;

}

nav li a:hover{
    color:transparent;
}

/*nav a:active {
    border-bottom: 1px dotted white;
}*/

@media only screen and (max-width : 1220px),
only screen and (max-device-width : 1220px){
	nav li a:link, a:visited {
		font: 400 10px/1.4 "raleway", Helvetica, Verdana, Arial, sans-serif;
	}


}

@media only screen and (max-width : 1133px){
    #dynamic {
        padding-top: 6px;
        padding-bottom: 6px;
    }
}

@media only screen and (max-width: 1645px) {
    #welcome h1{
        position: absolute;
        top: 3.5em;
        left: 0;
        width: 100%;
        font: 1.3em Cambria;
        font-style: italic;
        line-height: 2em;
    }

     #awwwards{
        position:absolute;
        top:0px;
        left:0px;
        z-index:555;
        }
        #awwwards a{
        width:69px;
        height:105px;
        text-indent:-8000px;
        display:block;
        background:url(../awwwards_nominee_w_left.png) no-repeat;
        overflow:hidden;
}
}

@media only screen and (max-width : 930px),
only screen and (max-device-width : 930px){

    #welcome h1{
        position: absolute;
        top: 5.5em;
        left: 0;
        width: 100%;
        font: 1.3em Cambria;
        font-style: italic;
        line-height: 2em;
    }

    nav li a:link, a:visited{
		width: 10%;
		font: 400 11px/1.4 "raleway", Helvetica, Verdana, Arial, sans-serif;
	}
    #dynamic {
        width: 15%;
        padding-bottom: 2px;
        padding-top: 6px;
    }
}

@media only screen and (max-width : 834px){

    #dynamic {
        width: 15%;
        padding-bottom: 0px;
        padding-top: 8px;
    }
}

@media only screen and (max-width: 767px) {


}


@media only screen and (max-width : 580px),
only screen and (max-device-width : 580px){

        #welcome h1{
            position: absolute;
            top: 13em;
            left: 0;
            width: 100%;
            font: 1.325em Cambria;
            font-style: italic;
            line-height: 2.5em;

        }

        #welcome h1 span {
            color: white;
            letter-spacing: -1px;
            background: rgb(0, 0, 0); /* fallback color */
            background: rgba(0, 0, 0, 0.5);
            padding: 0.625em;
        }



        /*header {
            position: relative;
            width: 100%; /*Roughly 960px*/
       /*     height: auto;
            background-color: rgba(0,0,0,0.9);
            padding:0;
            margin: 0 auto;
            z-index: 1;
        }*/

        nav ul {
            margin-left: 7em;
        }

        nav li a:link, a:visited{
		width: 50%;
		font: 400 12px/1.4 "raleway", Helvetica, Verdana, Arial, sans-serif;
		padding-top: 12px;
		padding-bottom: 12px;
	}

        #dynamic {
            display: none;
        }

        #mobileDynamic {
            display: block;
        }


}

@media only screen and (max-width : 320px){
   header {
        position: relative;
        width: 100%; /*Roughly 960px*/
        height: auto;
        background-color: rgba(0,0,0,0.9);
        padding:0;
        margin: 0 auto;
        z-index: 1;
    }


    }
@media only screen and (max-width : 320px),
only screen and (max-device-width : 320px){

         #welcome h1{
            position: absolute;
            top: 13em;
            left: 0;
            width: 100%;
            font: 1.2em Cambria;
            font-style: italic;
            line-height: 2.5em;

        }

        header {
            position: relative;
            width: 100%; /*Roughly 960px*/
            height: auto;
            background-color: rgba(0,0,0,0.9);
            padding:0;
            margin: 0 auto;
            z-index: 1;
        }
        nav li a:link, a:visited {
		font: 400 11px/1.4 "raleway", Helvetica, Verdana, Arial, sans-serif;
	    }

        nav ul {
            margin-left: 5em;
        }

        #dynamic {
            display: none;
        }

        #mobileDynamic {
            display: none;
        }
}

::-moz-selection,
::selection {
    color: inherit;
    background: rgba(0,0,0,0.5);
}
