@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/RicardoVazquez\/projects\/500px\/login-screen\/sass\/global\.sass}line{font-family:\000031}}
h2 {
  font-family: "museo-slab", serif;
  font-style: normal;
  font-weight: 500;
  margin: 0;
  padding: 20px;
  background-color: #6fbfb7;
  color: white;
  border-radius: 3px 3px 0 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/RicardoVazquez\/projects\/500px\/login-screen\/sass\/global\.sass}line{font-family:\0000311}}
.bg {
  width: 102%;
  height: 102%;
  position: absolute;
  top: -1%;
  left: -1%;
  bottom: -1%;
  right: -1%;
  background: url("../_img/train.jpeg") no-repeat center center;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  -webkit-filter: blur(8px);
  -moz-filter: blur(8px);
  -o-filter: blur(8px);
  filter: blur(8px);
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/RicardoVazquez\/projects\/500px\/login-screen\/sass\/global\.sass}line{font-family:\0000331}}
form {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 500px;
  height: 270px;
  margin-left: -250px;
  margin-top: -135px;
  z-index: 10;
  background-color: white;
  border-radius: 3px;
  box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  -webkit-animation-name: reset, fade-in;
  -webkit-animation-duration: 2s;
  -webkit-animation-timing-function: ease-in;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-delay: 0, 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/RicardoVazquez\/projects\/500px\/login-screen\/sass\/global\.sass}line{font-family:\0000351}}
form div {
  margin: 15px 15px;
  padding: 10px;
  background-color: whitesmoke;
  border-radius: 3px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/RicardoVazquez\/projects\/500px\/login-screen\/sass\/global\.sass}line{font-family:\0000357}}
form label {
  font-family: "helvetica Neue";
  font-size: 12px;
  line-height: 20px;
  font-weight: bold;
  color: dimgrey;
  padding: 0 130px 0 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/RicardoVazquez\/projects\/500px\/login-screen\/sass\/global\.sass}line{font-family:\0000365}}
form input[type=textfield] {
  height: 20px;
  border-radius: 3px;
  width: 240px;
  border: 1px solid #6fbfb7;
  padding: 4px 0px 4px 6px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/RicardoVazquez\/projects\/500px\/login-screen\/sass\/global\.sass}line{font-family:\0000372}}
form .submit {
  background: none;
  text-align: right;
  margin: 0 15px 0 0;
  padding: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/RicardoVazquez\/projects\/500px\/login-screen\/sass\/global\.sass}line{font-family:\0000378}}
form .submit p {
  display: inline;
  float: left;
  font-size: 12px;
  color: #6fbfb7;
  text-decoration: underline;
  margin: 10px 0 0 18px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/RicardoVazquez\/projects\/500px\/login-screen\/sass\/global\.sass}line{font-family:\0000386}}
form button {
  float: right;
  border: none;
  background: #636363;
  color: white;
  border-radius: 3px;
  height: 37px;
  cursor: pointer;
  padding: 0px 15px;
  -webkit-transition: all 0.2s ease-in;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/RicardoVazquez\/projects\/500px\/login-screen\/sass\/global\.sass}line{font-family:\0000398}}
form button:hover {
  background: #7d7d7d;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/RicardoVazquez\/projects\/500px\/login-screen\/sass\/global\.sass}line{font-family:\00003101}}
form button:active {
  background: #565656;
  box-shadow: inset 0px 2px 3px rgba(0, 0, 0, 0.3);
}

@-webkit-keyframes resetbg {
  0% {
    opacity: 0.8;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes reset {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }

  60% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
